<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/bootstrap') %>
        <title>Login Admin</title>
        <style>
            body {
                height: 100vh;
            }
            .form-login {
                width: 50%;
                border-radius: 20px;
                background: #90baf8;
                padding: 3em;
            }
            @media (max-width: 999.98px) {
                .form-login {
                    width: 60%;
                    padding: 2.5em;
                }
            }
            @media (max-width: 767.98px) {
                .form-login {
                    width: 75%;
                    padding: 2em;
                }
            }
        </style>
    </head>
    <body>
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="form-login">
                <form method="POST">
                    <div class="form-group">
                        <label for="username">Username :</label>
                        <input class="form-control" type="text" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" type="password" id="password" name="password">
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                </form>
            </div>
        </div>
    </body>
</html>